<header>

  <nav class="social">
    <a href="https://www.facebook.com/abeecatcuh/"><img class="stamps" src="/assets/stampface.png"></a>
    <a href="https://www.instagram.com/colette_isa_bee/"><img class="stamps" src="/assets/stampstigram.png"></a>

    <a href="/"><img class="central" src="/assets/mousebee2.png"></a>
    <a href="https://patreon.com/ColetteIsabella"><img class="stamps" src="/assets/patreon.png"></a>
    <a href="https://www.linkedin.com/in/coletteisabella"><img class="stamps" src="/assets/stampli.png"></a>
  </nav>
  <ul class="banner">
    <li class="pages"><a href="/bees/">A Bee C at CUH</a></li>
    <!--<li class="pages"><a href="https://www.etsy.com/shop/coletteisabella">Shop</a></li>-->
    <li class="pages"><a href="/about/">Anatomy of a Beekeeper</a></li>
    <li class="pages"><a href="/projects/">Ongoing Projects</a></li>
  </ul>
</header>
